<div ng-controller="phevCtrl" class="container" style="background-color: rgba(255, 255, 255, 0.8)">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Average Monthly Temperature for {{start}} - {{end}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <input type="text" ng-model="airport" placeholder="Enter your airport">
      <button ng-click="generate()">Average</button>
      <button ng-click="max()">Max</button>
      <button ng-click="min()">Min</button>
      <button ng-click="dew()">Dewpoint</button>
      <button ng-click="precipitation()">Precipitation</button>

      <br><a href="/img/airport.png">What's my airport?</a><br>
      Years: <input type="number" ng-model="start" min="1900" max="2016" step="1">
      to&nbsp;<input type="number" ng-model="end" min="1900" max="2016" step="1">
      <br><p>{{loading}}</p>
      <a ng-if="temps" ng-href="/excel/{{airport}}/{{start}}/{{end}}">Download</a>
    </div>
  </div>

  <style>
    .winter { background-color: rgba(32, 66, 130, .12); }
    .spring { background-color: rgba(208, 157, 40, .12); }
    .summer { background-color: rgba(200, 66, 40, .12); }
    .autumn { background-color: rgba(140, 110, 45, .12); }
  </style>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>{{city}}</h3>
      <table class="table table-bordered">
        <colgroup>
          <col class=""/>
          <col class="winter"/>
          <col class="winter"/>
          <col class="winter"/>
          <col class="spring"/>
          <col class="spring"/>
          <col class="spring"/>
          <col class="summer"/>
          <col class="summer"/>
          <col class="summer"/>
          <col class="autumn"/>
          <col class="autumn"/>
          <col class="autumn"/>
        </colgroup>
        <thead>
          <tr>
            <th>Year</th>
            <th>Dec</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>Aug</th>
            <th>Sept</th>
            <th>Oct</th>
            <th>Nov</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(year, months) in temps">
            <td>{{year}}</td>
            <td ng-repeat="(month, temp) in months">{{temp}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
